<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="../../assets/img/logo.png" style="height:50px ;"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="full-back">
  <div class="latest-news-header">
   Events & Announcement
  </div>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-card class="latest-news-sl">
        <ion-img src="../../assets/banner.jpeg"></ion-img>
      </ion-card>
      <ion-text class="news-title">Coming soon</ion-text>
    </ion-col>
  
    <ion-col class="ion-text-center">
      <ion-card class="latest-news-sl">
        <ion-img src="../../assets/banner1.jpeg"></ion-img>
      </ion-card>
      <ion-text class="news-title">English content coming soon</ion-text>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-card class="latest-news-sl">
        <ion-img src="../../assets/banner.jpeg"></ion-img>
      </ion-card>
      <ion-text class="news-title">English content coming soon</ion-text>
    </ion-col>
  
    <ion-col class="ion-text-center">
      <ion-card class="latest-news-sl">
        <ion-img src="../../assets/banner1.jpeg"></ion-img>
      </ion-card>
      <ion-text class="news-title">Coming soon</ion-text>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-card class="latest-news-sl">
        <ion-img src="../../assets/banner.jpeg"></ion-img>
      </ion-card>
      <ion-text class="news-title">Coming soon</ion-text>
    </ion-col>
  
    <ion-col class="ion-text-center">
      <ion-card class="latest-news-sl">
        <ion-img src="../../assets/banner1.jpeg"></ion-img>
      </ion-card>
      <ion-text class="news-title">English content coming soon</ion-text>
    </ion-col>
  </ion-row>
</ion-content>
