<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-img src="../../assets/img/logo.png" style="height:50px ;"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="full-back">
  <div class="latest-news-header">
    Latest News
  </div>
<ion-row>
  <ion-col *ngFor="let news of latestNews" class="ion-text-center" size="6">
    <ion-card class="latest-news-sl">
      <ion-img [src]="news?.path"></ion-img>
    </ion-card>
    <ion-text class="news-title" *ngIf="translate.currentLang=='en'">{{news?.title_english}}</ion-text>
        <ion-text class="news-title" *ngIf="translate.currentLang=='ar'">{{news?.title_arabic}}</ion-text>
  </ion-col>
</ion-row>
</ion-content>
